<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';

interface LearnMoreCard {
  type: string;
  icon: string;
  title: string;
  href: string;
}
export default Vue.extend({
  props: {
    header: {
      type: String,
      required: false,
    },
    cards: {
      type: Array as PropType<LearnMoreCard[]>,
      required: true,
    },
  },
});
</script>

<template>
  <div class="learn-more">
    <SlpTypography variant="heading3-bold">{{ header }}</SlpTypography>
    <div class="card-container">
      <a
        v-for="card in cards"
        :key="card.title"
        class="card"
        data-ga-location="learn-more"
        :href="card.href"
        :data-ga-name="card.title"
      >
        <div class="type">
          <SlpIcon :name="card.icon" variant="marketing" />
          <SlpTypography variant="body2">{{ card.type }}</SlpTypography>
        </div>
        <SlpTypography variant="heading4-bold" tag="h4" class="title">{{
          card.title
        }}</SlpTypography>
        <SlpButton variant="tertiary"
          >Learn more <SlpIcon name="chevron-right" variant="product"
        /></SlpButton>
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.learn-more {
  padding: 96px 0;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 32px;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    display: flex;
    height: 340px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s ease-in;
    cursor: pointer;
    color: $color-text-300;
    .title {
      flex-basis: 100%;
      margin-top: 16px;
    }
    .type {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
    }
    &:hover {
      border-radius: 4px 4px 82px 4px;
      background: #f5f2fd;
    }
  }
}
</style>
