<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';
import { IsMobileMixin } from '../../mixins/index';

interface LetterAuthor {
  name: string;
  role: string;
  image: {
    src: string;
    alt?: string;
  };
}

export default Vue.extend({
  mixins: [IsMobileMixin],
  data() {
    return {
      selectedParagraph: 0,
    };
  },
  props: {
    text: {
      type: Array as PropType<string[]>,
      required: true,
    },
    author: {
      type: Object as PropType<LetterAuthor>,
      required: false,
    },
  },
  methods: {
    nextParagraph() {
      if (this.selectedParagraph < this.text.length - 1) {
        this.selectedParagraph++;
      }
    },
    prevParagraph() {
      if (this.selectedParagraph > 0) {
        this.selectedParagraph--;
      }
    },
  },
});
</script>

<template>
  <SlpContainer :variant="isMobile ? 'light-purple-100' : ''">
    <div class="letter-container">
      <Transition name="fade" appear>
        <img
          class="letter-image"
          :src="author.image.src"
          :alt="author.image.alt"
          loading="lazy"
        />
      </Transition>
      <Transition
        v-for="paragraph in text"
        :key="paragraph"
        name="fade"
        appear
        mode="out-in"
      >
        <SlpTypography variant="body1" class="paragraph desktop" tag="div">
          <div class="rendered-text" v-html="$md.render(paragraph)"></div>
        </SlpTypography>
      </Transition>
      <transition name="fade" appear mode="out-in">
        <SlpTypography
          :key="selectedParagraph"
          variant="heading5"
          class="paragraph mobile"
          tag="div"
        >
          <div
            class="rendered-text"
            v-html="$md.render(text[selectedParagraph])"
          ></div>
        </SlpTypography>
      </transition>
    </div>
    <div v-if="isMobile" class="controls">
      <div class="paragraph-count">
        <SlpTypography>0{{ selectedParagraph + 1 }}</SlpTypography>
        <SlpTypography> - </SlpTypography>
        <SlpTypography>0{{ text.length }}</SlpTypography>
      </div>
      <div class="arrows">
        <SlpIcon
          name="chevron-left"
          variant="product"
          size="md"
          @click.native="prevParagraph"
        />
        <SlpIcon
          name="chevron-right"
          variant="product"
          size="md"
          @click.native="nextParagraph"
        />
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.letter-container {
  display: flex;
  padding: 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: $color-surface-800;
  border-radius: 24px;
  @media (max-width: $breakpoint-lg) {
    padding: 32px 0;
  }
  .letter-image {
    border-radius: 200px;
    width: 144px;
    height: 144px;
    object-fit: cover;
    object-position: 0 -20px;
  }
  .rendered-text:deep(p) {
    margin-bottom: 16px;
    line-height: 32px;
  }
  .rendered-text:deep(img) {
    height: 35px;
    margin-top: 32px;
  }
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0;
  border-top: 1px solid #a2a1a6;
  .paragraph-count,
  .arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
.desktop {
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}
.mobile {
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}
</style>
