<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'AnimatedNumber',
  props: {
    number: {
      type: Number,
      required: true,
      default: 0,
    },
    startValue: {
      type: Number,
      required: false,
      default: 0,
    },
    speed: {
      type: Number,
      required: false,
      default: 1000,
      // speed: milliseconds
    },
    textVariant: {
      type: String,
      required: false,
      default: 'heading1',
    },
    threshold: {
      type: Number,
      required: false,
      default: 1,
      // threshold: intersection observer threshold
    },
  },
  data() {
    return {
      observer: null,
      updateCountTimeOutId: null,
      incrementTimeOutId: null,
    };
  },
  mounted() {
    const mediaQuery = window.matchMedia('(prefers-reduced-motion: reduce)');
    if (!mediaQuery.matches) {
      this.observer = new IntersectionObserver(this.animationHandler, {
        rootMargin: '0px',
        threshold: this.threshold,
      });
      const children = this.$refs.number as HTMLElement;
      this.observer.observe(children);
    }
  },
  beforeDestroy() {
    this.observer.disconnect();
  },
  methods: {
    animationHandler(entries: any, observer) {
      entries.forEach((entry: any) => {
        const element = entry.target;

        if (entry.isIntersecting) {
          observer.unobserve(element);
          this.updateCount(element);
        }
      });
    },
    updateCount(element) {
      const endValue = this.number;
      const rangeValue = endValue - this.startValue;
      let currentValue = this.startValue;
      const increment = endValue > this.startValue ? 1 : -1;
      const stepTime = Math.abs(Math.floor(this.speed / rangeValue));
      const timer = setInterval(() => {
        currentValue += increment;
        element.innerHTML = currentValue;
        if (currentValue === endValue) {
          clearInterval(timer);
        }
      }, stepTime);
    },
  },
});
</script>

<template>
  <SlpTypography :variant="textVariant ?? 'heading1'" tag="p">
    <span ref="number" :data-target="number" class="animated-number">{{
      startValue
    }}</span
    ><span class="percent">%</span>
  </SlpTypography>
</template>

<style lang="scss" scoped></style>
