<script lang="ts">
// This component is also used on Free Trial
import Vue from 'vue';
import { numberToDigitString } from '../../common/util';
import { NewCarouselWrap } from '../common/index.vue';
import NewCaseStudyQuote from './new-case-study-quote.vue';

export default Vue.extend({
  name: 'NewQuotesCarousel',
  components: { NewCarouselWrap, NewCaseStudyQuote },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      step: 0,
      changed: false,
    };
  },
  computed: {
    formattedStep() {
      return `${numberToDigitString(this.step + 1)} - ${numberToDigitString(
        this.data.quotes.length,
      )}`;
    },
  },
  methods: {
    goNext() {
      this.$refs.carousel.prev();
      this.step = this.step <= 0 ? this.data.quotes.length - 1 : this.step - 1;
    },
    goPrev() {
      this.$refs.carousel.next();
      this.step = this.step >= this.data.quotes.length - 1 ? 0 : this.step + 1;
    },
    slideChange(idx) {
      this.changed = true;
      this.$refs.carousel.goTo(idx, this.step);
      this.step = idx;
    },
  },
});
</script>

<template>
  <section
    id="quotes"
    class="new-quotes-carousel"
    aria-roledescription="carousel"
    aria-label="Customer quotes"
    aria-live="polite"
  >
    <SlpContainer>
      <div>
        <NewCarouselWrap
          ref="carousel"
          role="group"
          :aria-label="`Quote ${step + 1} of ${data.quotes.length}`"
          aria-roledescription="Quote"
          :items="data.quotes"
        >
          <template #content>
            <template v-if="$refs.carousel">
              <NewCaseStudyQuote
                v-for="(quoteNumber, index) in $refs.carousel.itemIndexes"
                :key="`quote-${quoteNumber}`"
                class="new-quotes-carousel__quote"
                :class="{ fade: changed }"
                :data="data.quotes[quoteNumber]"
                :total-slides="data.quotes.length"
                :slide-index="index"
                :current-index="step"
                @prev="goPrev"
                @next="goNext"
              />
            </template>
          </template>
        </NewCarouselWrap>
      </div>
      <SlpRow class="new-quotes-carousel__footer">
        <div class="new-quotes-carousel__slider-controller">
          <SlpButton
            class="slp-color-primary-200"
            variant="icon"
            aria-label="Previous quote"
            aria-controls="quotes"
            @click.native="goNext"
            @keyup.enter="goNext"
          >
            <SlpIcon
              name="chevron-lg-left"
              variant="product"
              size="sm"
              alt="Chevron Right Icon"
            />
          </SlpButton>
          <div
            v-for="(bullet, index) in data.quotes.length"
            :key="index"
            class="new-quotes-carousel__slider-controller-bullet"
            :class="{
              'new-quotes-carousel__slider-controller-bullet--active':
                step === index,
            }"
            @click="slideChange(index)"
          ></div>
          <SlpButton
            class="slp-color-primary-200"
            variant="icon"
            aria-label="Next quote"
            aria-controls="quotes"
            @click.native="goPrev"
            @keyup.enter="goPrev"
          >
            <SlpIcon
              size="sm"
              name="chevron-lg-right"
              variant="product"
              alt="Chevron Right Icon"
            />
          </SlpButton>
        </div>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.new-quotes-carousel {
  padding: $spacing-96 0;
  background: $color-surface-800;

  @media (max-width: $breakpoint-md) {
    padding: $spacing-64 0;
  }

  &__quote {
    display: inline-flex;
    flex: 0 0 100%;
  }

  &__slider-controller {
    display: flex;
    align-items: center;

    &-bullet {
      width: 10px;
      height: 10px;
      background-color: $color-surface-300;
      border-radius: $border-radius-24;
      margin: 0 $spacing-8;
      cursor: pointer;

      &--active {
        background: transparent;
        -webkit-box-shadow: 0px 0px 0px 3px rgba(23, 19, 33);
        -moz-box-shadow: 0px 0px 0px 3px rgba(23, 19, 33);
        box-shadow: 0px 0px 0px 3px rgba(23, 19, 33);
      }
    }

    @media (max-width: $breakpoint-lg) {
      margin-top: 16px;
    }
  }
  .slp-container {
    position: relative;
    @media (max-width: $breakpoint-lg) {
      max-width: 90%;
      padding-bottom: $spacing-64;
    }
  }

  &__footer {
    position: absolute;
    transform: rotate(90deg);
    top: 45%;
    left: -131px;

    @media (max-width: $breakpoint-lg) {
      transform: none;
      top: auto;
      left: auto;
    }
  }
}

.fade {
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
