<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ReportCta',
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <section class="report-cta" :class="`report-cta--${data.layout}`">
    <SlpContainer>
      <SlpRow>
        <SlpTypography
          variant="heading2-bold"
          tag="h3"
          class="report-cta__title"
          >{{ data.title }}</SlpTypography
        >
        <div class="reports">
          <a
            v-for="report in data.reports"
            :key="report.text"
            class="card"
            :href="report.url"
            :data-ga-name="data.data_ga_name"
            :data-ga-location="data.data_ga_location"
          >
            <SlpIcon
              name="news"
              variant="marketing"
              alt="Report Icon"
              size="lg"
            />
            <SlpTypography
              variant="heading4"
              tag="p"
              class="report-cta__description"
              >{{ report.description }}</SlpTypography
            >
            <div class="report-cta__link">
              <SlpButton variant="tertiary">
                <SlpTypography variant="body1-bold">
                  Read the report</SlpTypography
                >
                <SlpIcon
                  name="chevron-lg-right"
                  variant="product"
                  alt="Chevron Right Icon"
                  class="slp-ml-8"
                />
              </SlpButton>
            </div>
          </a>
        </div>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.report-cta {
  position: relative;
  max-width: 100%;
  overflow-x: clip;
  &__link {
    display: flex;
    align-items: center;
    margin: $spacing-32 0 $spacing-8;
    color: $color-text-300;
  }

  &__title {
    margin-bottom: $spacing-24;
  }
  .reports {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
    }
    .card {
      padding: 32px;
      background: white;
      color: $color-text-300;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 100%;
      transition: all 0.3s;
      &:hover {
        border-radius: 8px 8px 90px 8px;
      }

      @media (min-width: $breakpoint-lg) {
        max-width: 50%;
      }
      .report-cta__description {
        flex-basis: 100%;
      }
    }
  }
  &--dark {
    // Full viewport background trick
    box-shadow: 0 0 0 100vw $color-surface-800;
    clip-path: inset(0 -100vw);
    background: $color-surface-800;

    margin: 48px auto;
    padding: $spacing-32 0;
    @media (min-width: $breakpoint-md) {
      padding: $spacing-96 0;
      margin: 0 auto;
    }
  }

  &--dark-shortened {
    background: $color-surface-800;
    padding: $spacing-32 0;
    margin: 48px auto 0 auto;
    @media (min-width: $breakpoint-md) {
      padding: $spacing-96 0 0 0;
      margin: 0 auto;
    }

    &:after {
      background: #f6f3fe;
      content: '';
      left: -50vw;
      height: 100%;
      position: absolute;
      top: 0;
      width: 200vw;
      z-index: -1;
    }
  }
}
</style>
