<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import {
  Conduct,
  Careers,
  EventsSchedule,
  LightningHero,
  Section,
  Intro,
} from '../../components/events/index.vue';

export default Vue.extend({
  components: {
    LightningHero,
    Intro,
    Section,
    EventsSchedule,
    Careers,
    Conduct,
    NextStep,
  },
  nuxtI18n: false,
  async asyncData({ $content, params }: any) {
    const content = await $content('events/aws-reinforce', params.slug).fetch();
    return { content };
  },
  head() {
    return getPageMetadata((this as any).content.metadata, this.$route.path);
  },
});
</script>

<template>
  <div>
    <LightningHero :data="content.hero" />
    <Intro :data="content.intro" />
    <Section class="slp-pb-32" :data="content.gitlab_booth" />
    <EventsSchedule :data="content.schedule" />
    <Careers :data="content.careers" />
    <Conduct :event-name="content.conduct" />
    <NextStep disable-animations />
  </div>
</template>
