<script lang="ts">
/* eslint-disable babel/camelcase */
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  Hero,
  CustomerShowcase,
  CompanyShowcase,
} from '~/components/customers/index.vue';
import { PartnersGridFull } from '~/components/open-source/index.vue';
import { BadgeTabs } from '~/components/home/index.vue';
import { StartupsLink } from '~/components/solutions/startups/index.vue';
import { NextStep } from '~/components/common/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Hero,
    CustomerShowcase,
    PartnersGridFull,
    CompanyShowcase,
    BadgeTabs,
    StartupsLink,
    NextStep,
  },
  nuxtI18n: false,
  async asyncData({ $content }) {
    const data = await $content('customers/index').fetch();
    return { data };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).data, this.$route.path);
  },
});
</script>

<template>
  <div>
    <Hero :data="data.hero" />
    <CustomerShowcase :data="data.customer_showcase" />
    <PartnersGridFull class="slp-mb-96" :data="data.logo_grid" />
    <CompanyShowcase
      class="slp-pt-96 slp-pb-64"
      :data="data.company_showcase"
    />
    <BadgeTabs :data="data.badges" />
    <StartupsLink :data="data.link" />
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
