<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';

export default Vue.extend({
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href:
            this.$route.path === '/'
              ? 'https://about.gitlab.com/'
              : `https://about.gitlab.com${this.$route.path}/`,
        },
      ],
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
    };
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <div>
    <Nuxt role="main" />
    <SlpFooter />
  </div>
</template>
