<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';
import HeaderLogo from './header-logo.vue';

interface HeroImage {
  src: string;
  alt?: string;
}

interface HeroButton {
  text: string;
  href: string;
  variant?: string;
  icon?: {
    name: string;
    variant: string;
    size?: string;
  };
}

export default Vue.extend({
  components: {
    HeaderLogo,
  },
  props: {
    note: {
      type: String,
      required: true,
    },
    header: {
      type: String,
      required: false,
    },
    description: {
      type: String,
      required: false,
      default: '',
    },
    image: {
      type: Object as PropType<HeroImage>,
      required: true,
    },
    button: {
      type: Object as PropType<HeroButton>,
      required: false,
      default: null,
    },
  },
});
</script>

<template>
  <div id="hero-container">
    <SlpContainer>
      <div class="hero-wrapper">
        <div class="hero-text">
          <div class="animation-wrapper">
            <SlpTypography
              variant="heading1-bold"
              tag="h1"
              class="note animated"
              >{{ note }}</SlpTypography
            >
          </div>
          <div class="animation-wrapper">
            <SlpTypography
              v-if="header"
              variant="heading1-bold"
              tag="h1"
              class="slp-mb-24 animated"
              >{{ header }}</SlpTypography
            >
          </div>
          <div class="animation-wrapper">
            <SlpTypography
              variant="heading5"
              tag="h2"
              class="slp-mb-24 animated"
              >{{ description }}</SlpTypography
            >
          </div>
          <div class="animation-wrapper">
            <SlpButton
              :href="button.href"
              :variant="button.variant"
              class="animated"
              >{{ button.text }}
              <SlpIcon v-if="button.icon" v-bind="button.icon" class="slp-ml-8"
            /></SlpButton>
          </div>
        </div>
        <div class="hero-image">
          <HeaderLogo :src="image.src" :alt="image.alt" />
        </div>
      </div>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
#hero-container {
  margin: 80px 0 48px 0;
  @media (max-width: $breakpoint-lg) {
    margin-top: 64px;
  }
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: $breakpoint-lg) {
    gap: 16px;
  }

  .hero-text {
    color: white;
    padding-top: 32px;
    @media (min-width: $breakpoint-md) {
      padding-top: 0;
    }
    .animation-wrapper {
      overflow-y: clip;
      .animated {
        animation-name: intro-reveal;
        animation-fill-mode: forwards;
        animation-delay: 0.9s;
        animation-duration: 0.9s;
        transform: translate3d(0, 150%, 0);
        will-change: transform;
        @media (prefers-reduced-motion) {
          animation: none;
          transform: none !important;
        }
      }
    }
    .note {
      background: linear-gradient(
        91.08deg,
        #fca326 -9.03%,
        #a686f2 27.88%,
        #a989f5 65.98%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .hero-image {
    opacity: 0;
    animation: opacity-intro 0.9s linear forwards 1.2s;
  }
}

@keyframes intro-reveal {
  from {
    transform: translate3d(0, 150%, 0);
  }
  to {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes opacity-intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
